* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-header {
    background-color: #F6F2D7;
}

.nav-container {
    width: 1270px;
    height: 78px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: serif;
    font-size: 28px;
    font-weight: 300;
    color: #000;
}

.nav-menu {
    display: flex;
    gap: 40px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    font-size: 12px;
    color: #000;
    cursor: pointer;
}

.nav-item img {
    width: 20px;
    height: 20px;
}

.header-1 h1 {
    margin-top: 50px;
    margin-left: 380px;
    font-size: 100px;
    font-weight: 500;
}

.header-2 {
    width: 1535px;
    height: 222px;
    background-color: #BC6C25;
    margin-top: 77px;
}

.header-3 {
    margin-left: 150px;
    color: #ffffff;
}

.header-3 img {
    margin-top: 70px;
    margin-bottom: 20px;
}

.header-3 p {
    margin-left: -20px;
    margin-top: -13px;
}

.Line {
    margin-left: 50px;
    margin-top: 60px;
}

.Line-2 {
    margin-left: 30px;
    margin-top: 60px;
}

.header-7 {
    margin-left: 50px;
    margin-top: 68px;
    color: #ffffff;
}

.header-7 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -22px;
}

.header-2 {
    display: flex;
    gap: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDFCE9; 
    font-family: sans-serif;
}

.product-wrapper {
    display: flex;             
    justify-content: center;   
    gap: 20px;                 
    padding: 60px 20px;       
}

.menu-list-item {
    background-color: #F5F1D5; 
    width: 370px;
    border: 1.5px solid #000000; 
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item-img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    border: none; 
}

.item-name {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.item-desc {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
    min-height: 54px; 
}

.item-bottom {
    border-top: 1.5px solid #BC6C25; 
    padding-top: 15px;
    margin-top: auto; 
}

.price-box {
    display: flex;
    flex-direction: row; 
    align-items: baseline;
    gap: 8px;
}

.price {
    font-size: 22px;
    color: #D4A017; 
    font-weight: bold;
}

.netto {
    font-size: 14px;
    color: #999;
    text-decoration: line-through; 
}

.buy-btn {
    background-color: #5D6D3E; 
    color: #ffffff; 
    border: none; 
    padding: 12px 25px; 
    border-radius: 50px; 
    font-size: 14px; 
    font-weight: 600; 
    cursor: pointer; 
    transition: all 0.3s ease; 
    white-space: nowrap; 
    
}

.buy-btn:hover {
    background-color: #4a5732; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-1px); 
}
* {
    margin: 0;
    padding: 0;
}

.N1 {
    height: 46.8vw;
    background: #023A15;
    border: 1px solid #023A15;
}

.N1 h2 {
    color: #F09C96;
    font-size: 6vw;
}

.N1 h1 {
    color: white;
    font-size: 6vw;
}

.N1 h3 {
    margin-left: 1vw;
    color: white;
    font-size: 6vw;
}

.N2 {
    display: flex;
}

.N3 {
    margin-top: 4vw;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.N4 {
    width: 10vw;
    height: 3vw;
    border: 1px solid none;
    border-radius: 5px;
    background: white;
    display: flex;
    font-family: sans-serif;
}

.N4 h6 {
    margin-top: 1.1vw;
    margin-left: 5px;
    color: #023A15;
}

.N5 {
    width: 24px;
    height: 24px;
    margin-top: 0.6vw;
    margin-left: 10px;
}

.N3 p {
    margin-top: 1vw;
    font-family: sans-serif;
    color: white;
}

.N6 {
    margin-left: -1vw;
    margin-top: 21.9vw;
    font-family: sans-serif;
    color: white;
}